/* Great place to test some looks:
http://westciv.com/tools/gradients/index-moz.html
*/

p {
   font-family: 'Pontano Sans', sans-serif;
}

.header {
    width: 100%;
    background: #21242C;
    height: 45px;
}

#logo {
    background-image: url("../media/Logo.png"); /* Quick hack, need to look into this */
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 88px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button_text {
    text-align:center;
    line-height:50px;
}

#title {
    margin:auto;
    color: #FFFFFF;
    text-align:center;
    height: 100%;
    line-height: 45px;
    font-family: 'Krona One', sans-serif;
}

.no_account_info {
    font-family: 'Krona One', sans-serif;
}

.red_text {
    color: red;
}

.popup {
    padding: 15px;
}

.stream_container_list {
    
}

.description_text {
}

.allow_overflow {
    white-space: normal !important;
}

.article_stub_div {
<<<<<<< HEAD
    width: 90%;
}

.article_site {
    padding-bottom: 3px;
    padding-top:3px;
    font-size:10px;
    color: #009933;
}

.article_title {
    color: #1122CC;
}

.title_size {
    font-size: 25px;
}

.text_center {
    text-align:center;
}

.feed_title_for_management {
    float:left;
    max-width: 60%;
    vertical-align: middle;
    padding-top:.9em;
}

.feed_activation_slider {
    float:right;
}

.placeholder {
    clear:both;
}

.article_div {
    width:300px;
    height:400px;
    overflow: scroll;
    -webkit-overflow-scrolling:touch;
}

.article_link {
    display: none !important;
}

.article {
    height: 400px;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
}

.info_box {
    clear:both;
    padding-bottom:25px;
}

.info_text {
    color: green;
}

.description {
    display: none !important;
}

.description_text {
    font-size: 18px;
    line-height: 150%;
}

.description_background {
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top: 15px;
    padding: 10px;
}

.article_site_large {
    padding-bottom: 3px;
    padding-top:3px;
    color: #009933;
    font-size: 15px;
}

.hidden {
    display: none !important;
}

.pub_date {
    font-size:15px;
}

.delete_tooltip {
    width:50px;
    height: 25px;
    position:relative;
    top:25px;
    left:25px;
    -moz-border-radius: 5px;
    border-radius: 15px;
    border: 1px solid #d01017 /*{a-bup-border}*/;
    background: #d01017 /*{a-bup-background-color}*/;
    font-weight: bold;
    color: #ffffff /*{a-bup-color}*/;
    text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #444444 /*{a-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #e41119 /*{a-bup-background-start}*/), to( #bb0e14 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #e41119 /*{a-bup-background-start}*/, #bb0e14 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #e41119 /*{a-bup-background-start}*/, #bb0e14 /*{a-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #e41119 /*{a-bup-background-start}*/, #bb0e14 /*{a-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #e41119 /*{a-bup-background-start}*/, #bb0e14 /*{a-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #e41119 /*{a-bup-background-start}*/, #bb0e14 /*{a-bup-background-end}*/);
    display: none !important;
}

.custom_search_header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
=======
    width: 85%;
>>>>>>> parent of f9ebca2... Minor visual redesign
}